{% extends "./base2.html" %}
{% block select %}{% end %}
{% block comtain %}
<div>
        <table border="1" cellspacing='0' style="margin:0px auto;">
            <tr id="header">
                <td></td>
                <td>星期一</td>
                <td>星期二</td>
                <td>星期三</td>
                <td>星期四</td>
                <td>星期五</td>
                <td>星期六</td>
                <td>星期日</td>
            </tr>
            <tr>
                <td colspan="8">上午</td>
            </tr>
            <tr>
                <td>第一节<br />(8：20-<br />9：05)</td>
                <td rowspan="2"></td>
                <td rowspan="2">信息系统开发</br>(a305)</td>
                <td rowspan="2"></td>
                <td rowspan="2">信息系统开发</br>(机房)</td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td>第二节<br />(9：15-<br />10：00)</td>
            </tr>
            <tr>
                <td>第三节<br />(10：20-<br />11：05)</td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td>第四节<br />(11：15-<br />12：00)</td>
            </tr>
            <tr>
                <td colspan="8">下午</td>
            </tr>
            <tr>
                <td>第五节<br />(14：00-<br />14：45)</td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td>第六节<br />(14：55-<br />15：40)</td>
            </tr>
            <tr>
                <td>第七节<br />(16：00-<br />16：45)</td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td>第八节<br />(16：55-<br />17：45)</td>
            </tr>
            <tr>
                <td colspan="8">晚上</td>
            </tr>
            <tr>
                <td>第九节<br />(18：30-<br />19：15)</td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td>第十节<br />(19：25-<br />20：10)</td>
            </tr>
            <tr></tr>
        </table>
        <style type="text/css">
            #header {
                background-color: rgb(0, 195, 255);
            }
    
            table tr {
                text-align: center;
                vertical-align: middle;
            }
    
            table tr td {
                height: 50px;
                width: 100px;
                text-align: center;
                vertical-align: middle;
            }
        </style>
    </div>
{% end %}
